%text1 {
    color: #636060;
    font-size: 18px;
    font-weight: 400px;
    font-family: "Roboto", sans-serif;
}

%text2 {
    color: #343232;
    font-size: 19px;
    font-weight: 400px;
    font-family: "Roboto", sans-serif;
}

%text3 {
    color: #636060;
    font-size: 17px;
    font-weight: 400px;
    font-family: "Roboto", sans-serif;
}